{% extends "include/base.html" %}
{% block page_style %}
    <script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
$(function(){
$("#select1").change(function(){
   var thissl=$(this);
   if(thissl.val()!=''){
    //获取当前选中的省份
    var shiqu=thissl.val();
     var thiss2=$("#select2");
   var thiss3=$("#select3");
   //市，区下拉框可见
     thiss2.attr("disabled",false);
   thiss3.attr("disabled",false);
   //获取市级下拉框
  $.getJSON(shiqu+".json",function(data){
   thiss2.empty();
   var html='';
   $.each(data,function(index,txt){
    html+='<option value='+txt['value']+'>'+txt['text']+'</option>';
    thiss2.html(html);
   });
  });
  //获取区级下拉框
  $.getJSON(shiqu+"_0.json",function(data){
   thiss3.empty();
   var html3='';
   $.each(data,function(index,txt){
    html3+='<option value='+txt['value']+'>'+txt['text']+'</option>';
    thiss3.html(html3);
   });
  });
   }
   //没有选中任何省份
    if(thissl.val()==''){
$("#select2").empty();
  $("#select2").attr("disabled",true);
  $("#select3").empty();
   $("#select3").attr("disabled",true);
}
}).change();


//当市成为焦点时
if($("#select1").val()!=''){
  $("#select2").change(function(){
    var sheng=$("#select1").val();
var thiss2=$(this);
  var shi=thiss2.val();
   var thiss3=$("#select3");
   //用省份名加市区代号调用当前选中的市的区
   $.getJSON(sheng+'_'+shi+'.json',function(data){
   thiss3.empty();
   var html3='';
   $.each(data,function(index,txt){
    html3+='<option value='+txt['value']+'>'+txt['text']+'</option>';
    thiss3.html(html3);
   });
  });

  });
}
});
</script>
{% endblock %}
{% block page_contents %}
    {% if s_id %}
        {% for c in c_list %}
            {{ c.c_name }}
        {% endfor %}
    {% else %}
        <form action="/clist/">
            <input type="text" name="sid">
            <input type="submit" value="Search">
        </form>
    {% endif %}
    
<select id="select1">
<option value="">请选择省份</option>
<option value="hunan">湖南</option>
<option value="guangdong">广东</option>
</select>
<select id="select2" disabled="disabled">
</select>
<select id="select3" disabled="disabled">
</select>
{% endblock %}