<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
   <style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: #ffff99;
        color: #cc0000;
        display: block;
        font-size: 14px;
        margin: 3px 0 3px 0;
        padding: 10px;
        font-weight: bold;
    }
    select#id_shop2{
        visibility:hidden;
    }/*将id_shop隐藏 
</style>
</head>
<body>
   <hr>
<form enctype="multipart/form-data" action="." method="POST">
    
    {{ form.as_ul }}
    <input type="submit" value="提交">
</form>

</body>
</html>